
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musicorum Chat</title>
        <link rel="stylesheet" href="../css/stylechat.css">
    </head>
    
    <body>
        <!-- Header -->
      <section id="header">
        <div class="header container">
          <div class="nav-bar">
            <div class="brand">
              <a href="/"><h1><span>CHAT SUPPORT</span></h1></a>
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Header -->
    
        <section class="chat__section">
            <div class="brand">
                <img height="40" src="../img/wassup.png" alt="">
                <h1>We can help you!</h1>
            </div>
            <div class="message__area"></div>
            <div>
                <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
            </div>
        </section>
        <script src="../js/socket.io/socket.io.js"></script>
        <script src="../js/client.js"></script>
    </body>
    
    </html>